<div class="layuimini-main">

    <div class="layui-form layuimini-form">
    
        <div class="layui-form-item">
            <label class="layui-form-label required">用户名</label>
            <div class="layui-input-block">
                <input type="text" name="username" lay-verify="required" lay-reqtext="用户名不能为空"
                       placeholder="请输入用户名" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">用户密码</label>
            <div class="layui-input-block">
                <input type="text" name="password" lay-verify="required" lay-reqtext="用户密码不能为空"
                       placeholder="请输入用户密码" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">角色</label>
            <div class="layui-input-block">
                <input type="text" name="role" lay-verify="required" lay-reqtext="角色不能为空"
                       placeholder="请输入角色" value="" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'table', 'upload', 'element', 'laydate'], function () {
        var form = layui.form,
            layer = layui.layer,
            table = layui.table,
            upload = layui.upload,
            element = layui.element,
            laydate = layui.laydate,
            $ = layui.$;



        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        form.render();

        // 当前弹出层，防止ID被覆盖
        var parentIndex = layer.index;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            var index = layer.alert("确定添加信息！", {
                title: '提交信息'
            }, function () {
            	/* console.log(data); */
                $.ajax({
               	     url:"/users/addUsers",
                    data: JSON.stringify(data.field),
                    type:"POST",
                    dataType:"json",
                    contentType:"application/json",
                     success:function(data){
                         console.log(data);
                         if(data.code == "0000") {
                            // 关闭弹出层
                            layer.close(index);
                            layer.close(parentIndex);
                            $(".layui-laypage-btn")[0].click();
                         }else{
                             layer.alert('添加失败！请输入正确信息。' + data.msg)
                        }
                     }
                })
            });
            return false;
        });
    });
</script>
